@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  :root {
    --background: 164 28% 88%;
    --foreground: 180 10% 15%;
    --card: 0 0% 100%;
    --card-foreground: 180 10% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 180 10% 15%;
    --primary: 178 40% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 170 25% 92%;
    --secondary-foreground: 178 38% 28%;
    --muted: 30 12% 92%;
    --muted-foreground: 28 18% 40%;
    --accent: 6 86% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 6 72% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 170 22% 82%;
    --input: 170 22% 82%;
    --ring: 178 40% 30%;
    --chart-1: 178 40% 30%;
    --chart-2: 6 86% 65%;
    --chart-3: 28 18% 40%;
    --chart-4: 19 87% 73%;
    --chart-5: 178 40% 55%;
    --radius: 0.75rem;
    --sidebar: 178 25% 18%;
    --sidebar-foreground: 170 15% 90%;
    --sidebar-primary: 170 50% 75%;
    --sidebar-primary-foreground: 178 25% 18%;
    --sidebar-accent: 170 20% 25%;
    --sidebar-accent-foreground: 170 15% 90%;
    --sidebar-border: 178 20% 25%;
    --sidebar-ring: 170 50% 75%;
  }
  .dark {
    --background: 178 18% 12%;
    --foreground: 170 15% 92%;
    --card: 178 18% 15%;
    --card-foreground: 170 15% 92%;
    --popover: 178 18% 15%;
    --popover-foreground: 170 15% 92%;
    --primary: 170 50% 75%;
    --primary-foreground: 178 25% 18%;
    --secondary: 170 20% 25%;
    --secondary-foreground: 170 15% 90%;
    --muted: 178 12% 20%;
    --muted-foreground: 30 12% 72%;
    --accent: 6 86% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 6 72% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 178 15% 26%;
    --input: 178 15% 26%;
    --ring: 170 50% 75%;
    --chart-1: 170 50% 75%;
    --chart-2: 6 86% 65%;
    --chart-3: 30 12% 72%;
    --chart-4: 19 87% 73%;
    --chart-5: 178 40% 55%;
    --sidebar: 178 25% 10%;
    --sidebar-foreground: 170 15% 90%;
    --sidebar-primary: 170 50% 75%;
    --sidebar-primary-foreground: 178 25% 14%;
    --sidebar-accent: 170 20% 18%;
    --sidebar-accent-foreground: 170 15% 90%;
    --sidebar-border: 178 20% 20%;
    --sidebar-ring: 170 50% 75%;
  }
  html {
    @apply font-sans;
  }
}
